<div fxLayout="column" fxFill>
        <div fxFlex="20%" style="padding-left: 22px; padding-bottom: 10px;" class="mat-toolbar mat-primary">
            <div fxLayout="column" fxFill fxLayoutGap="10px">
                <div fxFlex="70%">
                    <div fxLayout="row" fxFill fxLayoutAlign="center center ">
                        <div fxFlex>
                            <img src="{{$.Auth.User.photoUrl || 'https://developers.google.com/experts/img/user/user-default.png'}}" alt="Avatar" class="avatar">
                        </div>
                    </div>
                </div>
                <div fxFlex="30%">
                    <div fxLayout="row" fxLayoutAlign="start end">
                        <div fxFlex style="color:#fff">
                            <div class="mat-subheading-2" style="margin: 0px">{{$.Auth.User.name}}</div>
                            <div class="mat-caption">{{$.Auth.User.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <mat-divider></mat-divider>
            <div fxLayout="column">
                <mat-nav-list class="mat-caption">
                    <div *ngFor="let nav of $.UI.NavigationItems">
    
                        <mat-list-item *ngIf="!nav.isDivider && $.has(nav.has)">
                            <mat-icon color="{{nav.color}}" matListIcon>{{nav.icon}}</mat-icon>
                            <h3 matLine matTooltip="{{nav.tooltip}}" routerLink="{{nav.link}}">{{nav.caption}}</h3>
                        </mat-list-item>
                        <mat-divider *ngIf="nav.isDivider && $.has(nav.has)"></mat-divider>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary" matListIcon>power_settings_new</mat-icon>
                        <h3 matLine matTooltip="Logout" (click)="signOut();">Sign out</h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
                <ng-container *ngTemplateOutlet="$.UI.SidebarExtras"></ng-container>
                <p class="text-center text-muted small fixed-bottom">App Version : {{$.Environment.app.version}}</p>
            </div>
        </div>
    </div>
    
    
    <ng-template #defaultExtras>
    
    </ng-template>
    
    
    
    
    