<div fxLayout="column">
    <div style="padding:20px;" fxFlex="calc(100vh)" fxLayoutAlign="center center">
        <div fxFlex fxFill class="card-width">

            <mat-card>
                <div style="margin: -24px -16px;  padding: 24px 16px;">
                    <h3>Signin</h3>
                    <p class="lead">{{$.Environment.app.name}} : {{$.Environment.app.version}}</p>
                    <p class="small">{{$.Environment.app.prefix}} - {{$.Environment.base.href}}</p>
                </div>
                
                <mat-card-content class="text-center" [ngStyle]="{'background-color': $.Environment.app.theme_color,'margin': '0px -16px',  'padding': '24px 16px'}">
                    <img src="{{$.Environment.app.icons[3].src}}" alt="" style="padding:50px 15px;">
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="warn" style="margin:15px;" (click)="doGoogleLogin();">Signin with Google</button>
                </mat-card-actions>
            </mat-card>
        </div>



        <!-- <h1>
            Sign in
        </h1>
        <h3></h3>

        <button (click)="doCustomLogin('username','password');">Signin</button> |
        <button (click)="doGoogleLogin();">Signin in with Google</button>
        <button (click)="doFacebookLogin();">Signin in with Facebook</button>
        <button (click)="doLinkedInLogin();">Signin in with LinkedIn</button>
        <hr>
        <button (click)="doPush();">Push</button>
        <button (click)="doUserId();">GtUser</button>
        <button (click)="dosndtags();">SdTags</button>
        <button (click)="dotstags();">GtTags</button>
        <button (click)="dodeltags();">DlTags</button>
        <button (click)="doFilter();">QuickPush</button> -->
    </div>
</div>