<top-bar (onToggleMenu)="sidenav.toggle();"></top-bar>
<div fxLayout="row">
    <div fxFlex>
        <mat-sidenav-container>
            <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [fixedInViewport]="mobileQuery.matches"
                #sidenav style="width:215px;" class="sidebar">
                <side-bar (click)="mobileQuery.matches?sidenav.toggle():{};"></side-bar>
            </mat-sidenav>
            <div fxLayout="column">
                <div style="padding:10px; background-color: #eee;" fxFlex.gt-sm="calc(100vh-64px)" fxFlex.lt-md="calc(100vh-56px)" >
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-container>
    </div>
</div>