<div class="lab"> Hello LabComponent! </div>
<mat-card>
    <mat-card-header>
        <mat-card-title>CSV Import</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <input placeholder="csv file" id="preview" type="file" (change)="previewFile($event)" >

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Read</button>
    </mat-card-actions>
</mat-card>