@import '~@angular/material/theming';
@include mat-core();

$utkarsh-brand: (
    50 : #f5e9f0,
    100 : #e7c9da,
    200 : #d7a5c2,
    300 : #c680a9,
    400 : #ba6596,
    500 : #ae4a84,
    600 : #a7437c,
    700 : #9d3a71,
    800 : #943267,
    900 : #842254,
    A100 : #ffc3e0,
    A200 : #ff90c6,
    A400 : #ff5dab,
    A700 : #ff439e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$MyCommitments-brand: (
    50 : #edf6f0,
    100 : #d3ead9,
    200 : #b6dcc0,
    300 : #98cda7,
    400 : #82c394,
    500 : #6cb881,
    600 : #64b179,
    700 : #59a86e,
    800 : #4fa064,
    900 : #3d9151,
    A100 : #e3ffe9,
    A200 : #b0ffc2,
    A400 : #7dff9b,
    A700 : #63ff87,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-app-primary: mat-palette($MyCommitments-brand, 500);
$my-app-accent:  mat-palette($utkarsh-brand, 600);
$my-app-warn:    mat-palette($mat-red, 600);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);