<div fxLayout="row" fxLayoutGap="20px">
  <div>
    <mat-card>
      <mat-checkbox></mat-checkbox> Jay Swainarayan {{$.has(['ADMIN','USER'])}}
    </mat-card>
  </div>
  <div>
    <mat-card>
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button *ngIf="$.has(['ADMIN','USER'])" mat-raised-button color="accent" [routerLink]="['/signin']">Sign In</button>
      <button mat-raised-button color="primary" (click)="check();">Check</button>
      <button mat-raised-button (click)="signOut();">Sign Out</button>
    </mat-card>
  </div>
</div>
<ng-template #TopbarExtras>
  <div fxFlex="120px" class="text-right">
    <button mat-icon-button>
      <mat-icon mat-icon-button matTooltip="Today" routerLink="/home">event</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #SidebarExtras>

</ng-template>