<div fxLayout="column" fxFill>
    <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <mat-toolbar fxFlex color="primary">
            <div fxLayout="row" fxFill fxLayoutAlign="start center">
                <div fxFlex="50px">
                    <button mat-icon-button>
                        <mat-icon mat-icon-button (click)="toggle()">menu</mat-icon>
                    </button>
                </div>
                <div fxFlex>
                    <span>{{$.UI.PageTitle}}</span>
                </div>
                <ng-container *ngTemplateOutlet="$.UI.TopbarExtras"></ng-container>
            </div>
        </mat-toolbar>
    </div>
    <div fxLayout="row" style="position:relative;">
        <div fxFlex [fxHide]="!$.UI.Loader" style="margin-top: -5px;">
            <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        </div>
    </div>
</div>

<ng-template #defaultExtras>
    
</ng-template>